    <select class=".col-md-2" id={{filtro.nombre}}>
      {% for opcion in filtro.opciones %}
        <option value="{{opcion}}">{{opcion}}</option>
      {% endfor %}
    </select>
    <script>
        $("#{{filtro.nombre}}").multipleSelect({
            single: true,
            placeholder: {{filtro.nombre}}
        });
    </script>
